RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.\*)$ index.php [QSA,L]

# deny access hidden files

<FilesMatch "^\.">
Require all denied
</Files>
